@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Light Mode */
  :root {
    --background: 0 0% 100%;
    --foreground: 220 6% 26%;          /* Cape Cod as text */
    --card: 165 6% 83%;                /* Tiara */
    --card-foreground: 220 6% 26%;
    --border: 165 6% 70%;

    --primary: 8 70% 54%;              /* Valencia */
    --primary-foreground: 0 0% 100%;

    --secondary: 30 48% 56%;           /* Antique Brass */
    --secondary-foreground: 0 0% 100%;
    --ring: 30 48% 56%; /* Antique Brass */

  }

  /* Dark Mode */
  .dark {
    --background: 220 6% 16%;          /* Cape Cod deep */
    --foreground: 165 6% 83%;          /* Tiara as text */
    --card: 220 6% 20%;
    --card-foreground: 165 6% 83%;
    --border: 220 6% 28%;

    --primary: 8 70% 54%;              /* Valencia */
    --primary-foreground: 0 0% 100%;

    --secondary: 30 48% 56%;           /* Antique Brass */
    --secondary-foreground: 0 0% 100%;
    --ring: 30 48% 66%; /* A slightly lighter Antique Brass for dark mode */

  }
}
